# Environnements Python
venv/
.venv/
__pycache__/
*.pyc

# Variables secrètes
.env

# Fichiers locaux
*.log

# Données générées localement
storage/raw/
storage/clean/

# Jupyter
.ipynb_checkpoints/

# Configuration IDE
.vscode/
.idea/
